/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

/* Common CSS */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
}

input,
textarea,
button {
   outline: none;
   border: none;
}

html {
   scroll-behavior: smooth;
}

body {
   font-size: 14px;
   background: var(--dark);
}

::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-thumb {
   background-image: -webkit-linear-gradient(180deg, rgba(40, 244, 157, 0.76) 1.42%, #10A5DD 88.64%);
   background-image: -moz-linear-gradient(180deg, rgba(40, 244, 157, 0.76) 1.42%, #10A5DD 88.64%);
   background-image: linear-gradient(180deg, rgba(40, 244, 157, 0.76) 1.42%, #10A5DD 88.64%);
   border-radius: 50px;
}

/* Variables */
:root {
   --primary: #10A5DD;
   --secondry: #28F49D;
   --white: #ffff;
   --accent: #D0D0D6;
   --dark: #000022;
   --gry: #606071;
   --overly: 255, 255, 255;

   --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Header */
header {
   text-align: center;
   padding: 20px 0;
   border-bottom: 1px solid var(--gry);
}

header h1 {
   text-transform: uppercase;
   font-weight: 800;
   word-spacing: 5px;
   font-size: 1.5rem;
   color: var(--accent);
}

/* Builder */
.builder {
   width: 100%;
   padding: 30px 0 40px 0;
   position: relative;
}

.builder .canves {
   width: 314px;
   height: 314px;
   margin: 0 auto;
   position: relative;
   border: 2px dashed var(--white);
}

.builder .canves input[type='range'] {
   width: 100%;
   height: 2px;
   -webkit-appearance: none;
   -webkit-appearance: none;
   background: none;
   -webkit-appearance: none;
   position: absolute;
}

.builder .canves input[type='range']::-webkit-slider-thumb {
   width: 20px;
   height: 20px;
   -webkit-appearance: none;
   -webkit-appearance: none;
   background: var(--white);
   cursor: pointer;
   border-radius: 2px;
   transition: 0.1s linear;
   -webkit-transition: 0.1s linear;
   -moz-transition: 0.1s linear;
   -o-transition: 0.1s linear;
   -webkit-appearance: none;
   position: relative;
}

.builder .canves input[type='range']::-webkit-slider-thumb:hover {
   border: 3px solid var(--secondry);
}

.builder .canves input[type='range']::-moz-range-thumb {
   width: 20px;
   height: 20px;
   -webkit-appearance: none;
   -webkit-appearance: none;
   background: var(--white);
   cursor: pointer;
   border-radius: 5px;
   -webkit-appearance: none;
   position: relative;
   transition: 0.1s linear;
   -webkit-transition: 0.1s linear;
   -moz-transition: 0.1s linear;
   -o-transition: 0.1s linear;
}

.builder .canves input[type='range']::-moz-range-thumb:hover {
   border: 3px solid var(--secondry);
}

.builder .canves input[type='range']:first-child {
   top: 0%;
   left: 1%;
}

.builder .canves input[type='range']:nth-child(2) {
   right: -50%;
   top: 50%;
   transform: rotate(90deg);
}

.builder .canves input[type='range']:nth-child(3) {
   right: 50%;
   top: 50%;
   transform: rotate(90deg);
}

.builder .canves input[type='range']:nth-child(4) {
   bottom: -0%;
   right: 0%;
}

.builder .canves #bolbs {
   width: 100%;
   height: 100%;
   background-image: -webkit-linear-gradient(180deg, rgba(40, 244, 157, 0.76) 1.42%, #10A5DD 88.64%);
   background-image: -moz-linear-gradient(180deg, rgba(40, 244, 157, 0.76) 1.42%, #10A5DD 88.64%);
   background-image: linear-gradient(180deg, rgba(40, 244, 157, 0.76) 1.42%, #10A5DD 88.64%);
   /* border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%; */
}

/* Setting */
.setting {
   width: 400px;
   margin: 30px auto;
   padding: 20px;
   border-radius: 0 0 10px 10px;
   background-color: rgba(var(--overly), 0.1);
}

.setting .size {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.setting .size label {
   font-size: 13px;
   font-weight: 600;
   color: var(--gry);
   text-transform: capitalize;
}

.setting .size input[type='number'] {
   font-weight: 600;
   color: var(--white);
   width: 100px;
   padding: 10px 8px;
   border-radius: 5px;
   border: 1px solid var(--gry);
   transition: 0.1s linear;
   -webkit-transition: 0.1s linear;
   -moz-transition: 0.1s linear;
   -o-transition: 0.1s linear;
   background-color: rgba(var(--overly), 0.1);
}

.setting .size input[type='number']:focus {
   border: 1px solid var(--primary);
}

.setting .clipboard {
   display: flex;
   align-items: flex-start;
   -ms-flex-direction: column;
   flex-direction: column;
   margin-top: 20px;
}

.setting .clipboard span {
   color: var(--gry);
   margin-bottom: 2px;
   pointer-events: none;
   text-transform: capitalize;
   font-size: 12px;
}

.setting .clipboard .fild {
   position: relative;
   width: 100%;
   display: flex;
   align-items: center;
   height: 40px;
   border-radius: 5px;
   overflow: hidden;
   padding: 5px 10px;
   background-color: rgba(var(--overly), 0.1);
}

.setting .clipboard .fild .alert {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   line-height: 40px;
   color: var(--dark);
   font-size: 13px;
   text-transform: capitalize;
   pointer-events: none;
   font-weight: 600;
   transition: 0.1s linear;
   -webkit-transition: 0.1s linear;
   -moz-transition: 0.1s linear;
   -o-transition: 0.1s linear;
   opacity: 0;
   background: var(--white);
}

.setting .clipboard .fild .alert.active {
   opacity: 1;
}

.setting .clipboard .fild input {
   width: 100%;
   height: 100%;
   background: none;
   font-size: 12px;
   word-spacing: 2px;
   color: var(--white);
}

.setting .clipboard .fild input::selection {
   background: rgba(100, 100, 111, 0.1);
}

.setting .clipboard .fild i {
   height: 100%;
   width: 30px;
   line-height: 30px;
   text-align: center;
   color: var(--white);
   cursor: pointer;
   border-radius: 5px;
   transition: 0.1s linear;
   -webkit-transition: 0.1s linear;
   -moz-transition: 0.1s linear;
   background-color: var(--primary);
}

.setting .clipboard .fild i:hover {
   color: var(--white);
}

/* Background */
.bgShp {
   position: relative;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1000;
}

.bgShp ul li {
   position: absolute;
}

.bgShp ul li:first-child {
   border-radius: 50%;
   width: 300px;
   height: 300px;
   top: 50%;
   left: 0;
   transform: translate(-0%, -50%);
   background: rgba(100, 100, 111, 0.1);
   animation: drop 20s linear infinite;
}

@keyframes drop {
   0% {
      top: 50%;
      left: 0;
      transform: translate(-0%, -50%);
   }

   50% {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%);
   }

   70% {
      top: 50%;
      left: 100%;
      transform: translate(-100%, -50%);
   }

   80% {
      top: 0%;
      left: 50%;
      transform: translate(-50%, -0%);
   }

   100% {
      top: 50%;
      left: 0;
      transform: translate(-0%, -50%);
   }
}

.bgShp ul li:last-child {
   width: 400px;
   height: 400px;
   left: 30%;
   top: 40%;
   transform: translate(-30%, -40%);
   background: rgba(100, 100, 111, 0.2);
   border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

/* Footer */
.footer {
   width: 100%;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 100px;
   background: rgba(100, 100, 111, 0.2);
}

.footer p {
   font-size: 12px;
   text-transform: capitalize;
   font-weight: 500;
   color: var(--gry);
}

.footer p a {
   color: var(--white);
   font-weight: 600;
   font-size: 13px;
   cursor: pointer;
   text-transform: capitalize;
}


/* Responsive */
@media only screen and (max-width: 600px) {
   .footer {
      padding: 0 20px;
   }

   header h1{
      font-size: 25px;
   }
}